.title{
    color: rgb(20, 20, 42);
    background-color: rgb(193, 113, 8);
}
.para{
    color: rgb(227, 23, 23);
    background-color: rgb(234, 216, 216);
}
.button{
    color: rgb(7, 7, 67);
    background-color: rgb(227, 232, 236);
}